body {
  background-color: lightgrey;
}

a {
  text-decoration: none;
  font-size: 4vw;
  color: rgb(0, 0, 255);
}

a:hover {
  font-size: 4.5vw;
  color: rgb(0, 119, 255);
}

p {
  font-size: 4vw;
  color: blue;
}

@media (max-width: 220px) {
  a {
    font-size: 7.5vw;
  }
}

@media (max-width: 220px) {
  a:hover {
    font-size: 8.5vw;
  }
}

@media (max-width: 360px) {
  a {
    font-size: 6vw;
  }
}

@media (max-width: 360px) {
  a:hover {
    font-size: 7.5vw;
  }
}

@media (min-width: 720px) {
  a {
    font-size: 3vw;
  }
}

@media (min-width: 720px) {
  a:hover {
    font-size: 3.8vw;
  }
}
