header {
    margin: 0px;
    padding: 0px;
    background-image: url(/alena_okean/img/okean.jpg);/* no-repeat center top/cover;*/
    height: 45vw;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center top;
}

.container {
    width: 87vw;
    margin: 0 auto;
}

ul.menu {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 22px;
   }
   ul.menu li {
    display: inline;/* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    /* border: 1px solid #000; Рамка вокруг текста */
    padding: 3px; /* Поля вокруг текста */
   }

@media (max-width: 800px) {
        ul.menu li {
            font-size: 12px;
        }
    }

a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
    color: white;
   }

.quote {
    display: flex;
    justify-content: left;
    font-size: 35px;
    font-style: oblique;
    margin-top: 35%;
   }

   @media (max-width: 800px) {
    .quote {
        font-size: 18px;
        margin-top: 27%;
    }
}

body {
    margin: 0px;
    padding: 0px;
}

.galery {
    margin-top: 0.6vw;
    padding: 0px;
    background-image: url(/alena_okean/img/fon1.jpg);/* no-repeat center top/cover;*/
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center top;
}

.seaB {
    height: 70vw;
    display: flex;
  }

.sea {
    width: 20%;
    height: auto;
}

.seaBeaut {
    width: 35vw;
    height: auto;
}

.txt {
    justify-content: center;
    font-size: 3vw;
    font-style: oblique;
    padding-right: 20%;
    padding-left: 8%; 
}

.sand {
    width: 27%;
    height: auto;
}

@media (max-width: 800px) {
        .sand {
            width: 26%;
            height: auto;
        }
    }

.hat {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 5vw;
    display: flex;
    justify-content: center;
    font-size: 4vw;
    font-style: oblique;
    background-color: rgb(30, 248, 255);
}

.tx {
    margin: 0;
    padding: 0; 
}
